.main {
    background-color: transparent;
    /* spacing:  (8, 0, 6), */
    position: relative;
  }

  .main-header {
      text-align: center; 
      color: wheat;
  }

  .main-blurb {
    text-align: center; 
    color: grey;
  }