heroContent: {
    backgroundColor: theme.palette.background.paper,
    padding: theme.spacing(8, 0, 6),

    backgroundColor:"transparent", 
    position:"relative"
  },
  heroButtons: {
    marginTop: theme.spacing(4),
  },


  h1 {
    component="h1" variant="h2" align="center" color="textPrimary" gutterBottom
  }

  p {
    variant="h5" align="center" color="textSecondary" paragraph
  }